{% extends 'base.html.twig' %}

{% block body %}
    

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer"  />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('fiche_chantier_index') }}">Retour</a>
        </li>
    </ul>
{% endblock %}
