{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
        <table class="table table-bordered" id= "Tableau_4">
                {{ form_widget(form) }}
        </table>
</div>

        <input type="submit" value="Create" />
    <ul>
        <li>
            <a href="{{ path('fiche_client_index') }}">Back to the list</a>
        </li>
    </ul>
</div>

{% endblock %}
