.line{
    text-align: center;
}


#logo_navbar 	{
	width: auto;
	height: 45px;
	position: absolute;
    top: 0;
    text-align: center;
    margin: auto;
}

.hover:hover {
    background-color: rgb(220, 236, 217);
}

#hoverDeco{
    margin-left: 261px; 
}

#hoverDeco:hover{
    background-color: rgb(220, 236, 217);
}

.parametres {
    
    margin-top: 3%;
    margin-bottom: 1%;
    margin-right: 1em;
} 