.line{
    text-align: center;
}


#logo_navbar 	{
	width: auto;
	height: 45px;
	position: absolute;
    top: 0;
    text-align: center;
    margin: auto;
}

.hover:hover {
    background-color: rgb(220, 236, 217);
}

#hoverDeco{
    margin-left: 261px; 
}

#hoverDeco:hover{
    background-color: rgb(220, 236, 217);
}

.parametres {
    
    margin-top: 3%;
    margin-bottom: 1%;
    margin-right: 1em;
} 

h2 {
    text-align: center; 
    font-style: oblique; 
}


th {
    padding-left: 40px;
    padding-right: 40px;
}

.bottom {
    margin-bottom: 15px; 
}


.right {
    margin-right: 25px;
    margin-top: 5px;
}

.padding {
    padding-left: 10px; 
    padding-right: 5px;
}   

.top {
    margin-top: 15px; 
}

.push{
    margin-bottom: 2%;  
}